## Bài 1: reversed list
Hãy viết một chương trình để đảo ngược các phần tử trong list

In [ ]:
a = [100, 200, 300, 400, 500]
a.reverse()
print(a)

**Output:**

In [ ]:
[500, 400, 300, 200, 100]

In [ ]:
aList = [100, 200, 300, 400, 500]
# code below this line

# code above this line

## Bài 2: concatenation
Hãy tạo ra một list mới bằng cách cộng các phần tử tương ứng của list cũ theo index tương ứng

In [ ]:
#list1 = ["M", "na", "i", "Ke"]
#list2 = ["y", "me", "s", "lly"]

**Output:**

In [ ]:
['My', 'name', 'is', 'Kelly']

In [ ]:
list1 = ["M", "na", "i", "Ke", "helo"]
list2 = ["y", "me", "s", "lly", "hihi"]
# code below this line

mylist = []
for index in range(len(list1)):
    txt = list1[index] + list2[index]
    mylist.append(txt)
print(mylist)

## Bài 3: squared list
Cho sẵn một list chứa các số tự nhiên. Bình phương các phần tử trong list và lưu vào một list mới.

In [ ]:
aList = [1, 2, 3, 4, 5, 6, 7]
new_list = []
for index in range(len(aList)):
    new_value = (aList[index]) ** 2
    new_list.append(new_value)
print(new_list)

**Output**

In [ ]:
[1, 4, 9, 16, 25, 36, 49]
# code below this line

# code above this line

## Bài 4: concatenation 2
Tạo ra một list mới từ 2 list ban đầu theo thứ tự như sau:

In [ ]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

**Output**

In [ ]:
['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [ ]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
# code below this line
for index in range(len(list1)):
    
    
# code above this line

## Bài 5: print list
Cho 2 list có cùng số phần tử với nhau. Hãy in các thành phần trong 2 list theo format dưới đây:

In [ ]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

**Output**

In [ ]:
10 400
20 300
30 200
40 100

In [ ]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
# code below this line
list2 = list2[::-1]
for index in range(len(list1)):
    print(list1[index],list2[index])

# code above this line

## Bài 6: remove empty
Hãy xóa tất cả empty string trong list đã cho.

In [ ]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

**Output**

In [ ]:
["Mike", "Emma", "Kelly", "Brad"]

In [ ]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
# code below this line

# code above this line

## Bài 7: list replacement
Hãy tìm và thay thế số 20 **đầu tiên** trong list thành 200.

In [ ]:
list1 = [5, 10, 15, 20, 25, 50, 20]

**Output**

In [ ]:
[5, 10, 15, 200, 25, 50, 20]

In [ ]:
list1 = [5, 10, 15, 20, 25, 50, 20]
# code below this line

# code above this line

## Bài 8: list removement
Hãy xóa bỏ **tất cả** số 20 ra khỏi list

In [ ]:
list1 = [5, 20, 15, 20, 25, 50, 20]

**Output:**

In [ ]:
[5, 15, 25, 50]

In [ ]:
list1 = [5, 20, 15, 20, 25, 50, 25, 25, 25, 20, 35, 25, 20]

# code below this line
#b = list1.copy()
'''
del_num = [20, 25]
for index in range(len(del_num)):
    while del_num[index] in list1:
        list1.remove(del_num[index])

print(list1)
'''
#print(b)
    
# code above this line
em_list = []
for index in range(len(list1)):
    if list1[index] < 25:
        em_list. append(list1[index])
        
for i in range(len(em_list)):
    while em_list[i] in list1:
        list1.remove(em_list[i])
print(list1)

## Bài 9: unpack tuple

In [ ]:
aTuple = (10, 20, 30, 40)

In [ ]:
aTuple = (10, 20, 30, 40)
# Your code
a, b, c, d = aTuple
print(a, b, c, d)

## Bài 10: swap tuple
Hãy thay đổi giá trị của 2 tuple cho nhau

In [ ]:
tuple1 = (11, 22)
tuple2 = (99, 88)

**Output**

In [ ]:
tuple1 = (99, 88)
tuple2 = (11, 22)

In [ ]:
tuple1 = (11, 22)
tuple2 = (99, 88)
# code below this line
temp = tuple1
tuple1 = tuple2
tuple2 = temp
print(f"tuple 1 = {tuple1}")
print(f"tuple 2 = {tuple2}")
# code above this line

## Bài 11: count occurrence
Hãy đếm tổng số lần xuất hiện của 50 trong tuple

In [5]:
tuple1 = (50, 10, 60, 61, 62, 53, 63, 69, 69, 69, 70, 50)
em_list = []

for index in range(len(tuple1)):
    if 55 < tuple1[index] < 75:
        em_list.append(tuple1[index])
print(len(em_list))

8

**Output**

In [ ]:
2

In [ ]:
tuple1 = (50, 10, 60, 70, 50)
# code below this line

# code above this line

## Bài 12: is it the same?
Hãy kiểm tra xem các phần tử trong tuple có giống nhau hay không.

In [ ]:
tuple1 = (45, 45, 45, 45)

**Output**

In [ ]:
True

In [ ]:
tuple1 = (45, 45, 45, 45)
# code below this line

# code above this line

TypeError: unhashable type: 'list'